.ng-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	max-width: 90vw;
	margin: 0 auto;
}

.ng-item {
	padding: 0.75rem;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;

	&.s-selected {
		border: 1px solid red;
	}
}
